[submodule "FastBoxBlur"]
	path = FastBoxBlur
	url = https://github.com/michelerenzullo/FastBoxBlur
[submodule "pocketfft"]
	path = pocketfft
	url = https://github.com/mreineck/pocketfft
[submodule "pffft_pommier"]
	path = pffft_pommier
	url = https://bitbucket.org/jpommier/pffft.git